<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="grid">
        <div class="fila1">
            <div class="f2f1">
                <div class="elemento" id="foto">
                    <img src="../../assets/Images/usuario.png" alt="">
                </div>
                <div class="elemento">
                    <a>Sucursal</a>
                    <br>
                    <input type="tel" name="" id="">
                </div>
                <div class="elemento">
                    <a>Nombre</a>
                    <br>
                    <input type="text" name="" id="">
                </div>
                <div class="elemento">
                    <a>Cargo</a>
                    <br>
                    <input type="tel" name="" id="">
                </div>
                <div class="elemento">
                    <a>Correo</a>
                    <br>
                    <input type="text" name="" id="">
                </div>
                <div class="elemento">
                    <a>Telefono</a>
                    <br>
                    <input type="tel" name="" id="">
                </div>
                <div class="elemento">
                    <a>Contraseña</a>
                    <br>
                    <input type="tel" name="" id="">
                </div>
                <div class="elemento">
                    <a>Tipo de Usuario</a>
                    <br>
                    <input type="text" name="" id="">
                </div>
            </div>
        </div>
    </div>
</body>
</html>
