<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="buscador">
        <img src="http://www.w3.org/2000/svg" alt="">
        <input type="search" placeholder="Buscar...">
    </div>
    <div class="head">
        <h1>Reporte 1</h1>
        <div class="repo">
            <button><img src="../../../assets/Buttons/Group 117.png" alt=""></button>
            <button><img src="../../../assets/Buttons/Group 115.png" alt=""></button>
        </div>
    </div>
    <div class="grid">
        <div class="fila1">
            <div class="element">
                <div class="f2f6">
                    <div class="elemento">
                        <a>Usuario</a>
                        <br>
                        <input type="text">
                    </div>
                    <div class="elemento">
                        <a>Fecha</a>
                        <br>
                        <input type="text">
                    </div>
                    <div class="elemento">
                        <a>Fecha del reporte</a>
                        <br>
                        <input type="text" placeholder="Del:">
                    </div>
                    <div class="elemento">
                        <a></a>
                        <br>
                        <input type="text" placeholder="Al:">
                    </div>
                    <div class="elemento">
                        <a>Capturar hora</a>
                        <br>
                        <input type="text" placeholder="De:">
                    </div>
                    <div class="elemento">
                        <a></a>
                        <br>
                        <input type="text" placeholder="A:">
                    </div>
                </div>
            </div>
        </div>
        <div class="fila2">
            <div class="element">
                <div class="f2f1">
                    <div class="elemento">
                        <a>Hr. asignada por el cliente</a>
                        <br>
                        <input type="text">
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>