<div class="login" >
    <div class="element">
        <div class="f2f1">
            <div class="elemento">
                <h1 class="form-title">Bienvenido de vuelta</h1>
                <h5>Grúa y Vulca Express | Somos tu mejor opción</h5>
            </div>
            <br>
            <div class="elemento">
                <a>Usuario</a>
                <br>
                <input #email type="email">
            </div>
            <div class="elemento">
                <a>Contraseña</a>
                <br>
                <input #password type="password">
            </div>
            <div class="elemento">
                <a href="#" class="remember">Olvidé mi contraseña</a>
            </div>
            <br>
            <br>
            <div class="elemento" >
                <button type="submit" (click)="login(email.value, password.value)" >Entrar</button>
            </div>
            <br>
        </div>
    </div>
    <div class="element">
        <div class="f2f2">
            <div class="elemento">
                <h5>¿Problemas para iniciar sesión? <a class="contact" href="">Contacta a soporte</a></h5>

            </div>
        </div>
    </div>
</div>
<div class="animation">
    <img class="path" src="../../assets/Images/Path 238.png" alt="">
    <div class="animation2">
        <img class="group" src="../../assets/Images/Group 91.png" alt="">
    </div>
</div>