.buscador {
    display: grid;
    margin: 1%;
}
.buscador input {
    border-radius: 10px;
    padding: 1em;
    border: 2px solid #ecf0f1;
    width: 100%;
}
.element{ 
    background: #fff;
    border: 1px solid #ecf0f1;
    padding: auto;
    margin: 1%;
    border-radius: 10px;
}
.elemento{
    margin: 1%;
}
.elemento input:hover {
    border: 1px solid #f1c40f;
}
input {
    border-radius: 8px;
    height: 28px;
    border: 2px solid #ecf0f1;
    width: 100%;
}
.rows{
    margin-top: 1rem;
    margin: 1rem;
    width: 100%;
}
#contenido{
    text-align: center;
}
h1{
    text-align: center;
    font-style: normal;
}
.add{
    margin-left: 96%;
}
button{
    border-radius: 20%;
    border: 2px transparent;
    cursor: pointer;
    height: auto;
}
.option{
    display: flex;
    text-align: left;
    margin-left: 87%;
}
.save{
    display: flex;
    color: #fff;
    border: 1px solid transparent;
    border-radius: 10%;
    align-items: center;
    margin: 1rem;
    background: rgb(64, 218, 64);
}
.cancel{
    display: flex;
    color: #fff;
    border: 1px solid transparent;
    border-radius: 10%;
    align-items: center;
    margin: 1rem;
    background: rgb(212, 11, 11);
}